@font-face {
font-family: 'Bangers';
src: url('../fonts/Bangers/Bangers-Regular.ttf');
}
@font-face {
font-family: 'Merriweather';
src: url('../fonts/Merriweather/Merriweather-BlackItalic.ttf');
}
@font-face {
font-family: 'Teko';
src: url('../fonts/Teko/Teko-Light.ttf');
}
.resultacep{
    height: 100px;
}
.link{
    font-family: 'Merriweather';
    color:#FCC408;
}
h1,h3{
    text-align: center;
}
.entrada{
    background: linear-gradient(to right, #88253f,#3b6085);
    width:inherit;
    color:#FFFFFF;
    padding-top:50px;
}
body{
  padding-bottom:20px;
}
.formulario{
    margin-top: 50px;
    font-family: Teko;
    font-size:20px;
}
.formulario input{
    font-size:20px;
}
.formulario textarea{
    font-size:20px;
}
.bordaform{
    border-left:solid 1px #FFFFFF;
}
.classesalvar{
    color:#FFFFFF;
    border:solid 1px #FFFFFF;
    border-radius:3px;
    padding:5px 40px;
    text-align:center;
}
.classesalvar:hover{
    color:#FFFFFF;
    text-decoration: none;
    border:solid 1px #FFFFFF;
    border-radius:3px;
    padding:5px 40px;
    text-align:center;
}
.classesalvar:visited{
    color:#FFFFFF;
    border:solid 1px #FFFFFF;
    border-radius:3px;
    padding:5px 40px;
    text-align:center;
}
.fundo{background-color: #efeded;}
.idpago{color:#449D44;}
.idpendente{color:#EC971F;}
.idcancelado{color:#C9302C;}
.iddata{color:#a5a5a5;font-size: 10px;}
.centro{text-align: center;}
.paypal{
  margin: auto;
}
.paypal1{
  margin: auto;
}
.paypal2{
  margin: auto;
}
.paypal3{
  margin: auto;
}
.paypal4{
  margin: auto;
}
.paypal5{
  margin: auto;
}
.favoritando{
   color:#9e9c9c;
    text-align: center;
}
.favorita{
   color:#f9ca2f;
    text-align: center;
}
.nfavorito4{
   color:#9e9c9c;
    text-align: center;
}
.favorito4{
   color:#f9ca2f;
    text-align: center;
}
.nfavorito3{
   color:#9e9c9c;
    text-align: center;
}
.favorito3{
   color:#f9ca2f;
    text-align: center;
}
.nfavorito2{
   color:#9e9c9c;
    text-align: center;
}
.favorito2{
   color:#f9ca2f;
    text-align: center;
}
.nfavorito1{
   color:#9e9c9c;
    text-align: center;
}
.favorito1{
   color:#f9ca2f;
    text-align: center;
}
.nfavorito{
   color:#9e9c9c;
    text-align: center;
}
.favorito{
   color:#f9ca2f;
    text-align: center;
}
.nomeempresa{text-align: left;}
.businessName{
  font-size: 15px;
  font-weight: bolder;
  color: #2BBCDE;
  text-align: left;
}
.businessNumber{
  font-size: 14px;
}

/*  --------------------------------------------------
  :: Yuri CSS
  -------------------------------------------------- */

hr.style12 {
  height: 3px;
  background: url(https://thumb7.shutterstock.com/display_pic_with_logo/1096643/214418965/stock-photo-pencil-icon-flat-abstract-background-with-web-icons-interface-symbols-cloud-computing-mobile-214418965.jpg) repeat-x 0 0;
  border: 0;
}
.table-style {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.table-style tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.table-style tbody tr td {
  padding: 10px;
  vertical-align: middle;
  border-top-color: #eee;
}
.table-style tbody tr.selected td {
  background-color: #eee;
}
.table-style tr td:first-child {
  width: 38px;
}
.table-style tr td:nth-child(2) {
  width: 35px;
}

.check{
  position: relative;
}

.check input[type="checkbox"]{
  opacity: 0;
}
.check label:before { /*  Quando caixa de checkbox não esta selecionada  */
  content: '';
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  border-radius: 2px;
  border: 1px solid #bbb;
  background-color: #fff;
}
.check input[type="checkbox"]:checked + label:before {
  border-color: #2BBCDE;
  background-color: #FF03EF;
}
.check input[type="checkbox"]:checked + label:after {
  top: 3px;
  left: 3.5px;
  content: '\e013';
  color: #fff;
  font-size: 11px;
  font-family: 'Glyphicons Halflings';
  position: absolute;
}
